
 /* Importing Montserrat font */
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
 /* Applying Montserrat font to the h5 element */

 body {
  background-image: linear-gradient(to left, #5a5acb,#c5ccea67); 
    font-family: Montserrat, sans-serif; /* Modern font */
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.container {
    display: row;
    flex-direction: row;
    align-items:  center;
    margin-top: 10px;
    padding: 40px;
    width: fit-content;
    height: fit-content;
}










.button-group {
    display: block;
    
    align-items: center;
    margin-top: 80px;
    margin-left: 220px;
    padding: 10px;
    
    width: fit-content;
    

    
}

.button {
    position: top;
    
    overflow: hidden;
    color:  #5a5acb;
    background-color: #ffffff;
    border: 1.5px solid transparent;
    border-radius: 5px;
    padding: 100px 100px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.4s ease;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 5px;
  }
  .button:hover {
    color: #fafafa;
    background-color:#5a5acb;;
    
    padding: 105px 105px;
    border-radius: 5px;
  }